%h2.visible-lg Featured libraries
.row
  .col-lg-6
    = render partial: '/libraries/summary', collection: Library.first(3)
  .col-lg-6
    = render partial: '/libraries/summary', collection: Library.first(3)

- content_for :page_javascript do
  :javascript
    (function() { $('#q').focus(); })();
