/* Lumen
 * Bootswatch
 *= require lumen/loader
 *= require lumen/bootswatch
 *= require_self
 *= require font-awesome
 *= require welcome
 *= require highlight
*/

input[type="text"]:focus, input[type="checkbox"]:focus, input[type="url"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="tel"]:focus, textarea:focus, select:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

.text-huge { font-size: 60px; }
.text-large { font-size: 40px; }
.text-medium { font-size: 20px; }
.b { font-weight: bold; }

.alert { padding: 5px;}
.alert-dismissable .close { top: 0px; right: 5px; }
.alert-top {
  position: fixed;
  top: 0px;
  left: 30%;
  width: 40%;
  margin: 0px auto;
  z-index: 1000;
}
